  <header class="navbar">
    <div class="logo" onclick="window.location.href='index.html'"  >Willpig Studio</div>

    <div class="search-bar">
      <input type="text" placeholder="Buscar o escribir una historia...">
    </div>

    <div class="nav-actions">
      <div class="dropdown explore">
        <button class="dropbtn">Explorar </button>
        <div class="dropdown-content">
        <!-- <a href="#">Romance</a> -->
         <a href="#">Ficcion</a>
          <a href="#">Fantasia</a>
          <a href="#"> Historias cortas</a>
          <!-- <a href="#">Paranormal</a> -->
          <a href="#">Humor</a>
          <!-- <a href="#">Horror</a> -->
          <a href="#">Ciencia Ficci칩n</a>
          <a href="#">Aventura</a>
          <!--  <a href="#">Poes칤a</a> -->
        </div>
      </div>

      <div class="dropdown profile">
        <button class="dropbtn">Perfil </button>
        <div class="dropdown-content">
          <a href="#">Notificaciones</a>
          <a href="#">Biblioteca</a>
          <a href="#">Idioma: Espa침ol</a>
          <a href="#">Ayuda</a>
          <a href="#">Configuraci칩n</a>
          <a href="#">Cerrar sesi칩n</a>
        </div>
      </div>

      <button class="theme-toggle" id="theme-toggle">游깿</button>
    </div>
  </header>